numpy
omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
blobfile
wandb
viztracer
lm-eval
scipy
pynvml
datatrove
orjson
luigi
pydantic
altair
submitit
typer
rich
fsspec[full]
huggingface-hub==0.30.*
